
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav section */
.button-container {
    background: linear-gradient(to right , #F7E93F 0% , #FB09B4 51% , #9100F8 100%);
    margin-top: 24px;
    

}
.nav-button button:hover{
    cursor: pointer;
    
}
/* banner section */
.banner-section{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.116);
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
}
.banner-container{
     margin: 0 auto;
    /* border: 1px solid; */
    /* width: 550px; */
    height: 558px;
    margin-top: 101px;
   
}
.microphone-image img{
    transition: transform 5s;
}
.microphone-image img:hover{
    transform: rotate(360deg) ;
}
.microphone-image{
    height: 400px;
    width: 400px;
    background-image: url('../assets/hero-circle.png');
    background-size: cover;
}

.banner-b-1{
     background: linear-gradient(to right , #F7E93F 0% , #FB09B4 51% , #9100F8 100%);
     border-radius: 10000px;
     width: 201px;
}
.banner-b-2{
    border: 2px solid #00FF88;
    border-radius: 10000px;
}
/* about section */

.about-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
}
.rating-container h1{
  font-weight: bolder;
  font-size: 48px;
  color: #00FF88;
}
.rating-container p{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff73;
    margin-top: 16px;
}




@media screen and (max-width: 576px) {
   
    
    .nav-button , .nav-menu{
        display: none;
    }
    .nav-logo{
        margin-left: 0;
    }
    .banner-section{
    background-position: 100%;    
    width: 100%;
    /* height: 558px; */
    /* max-width: px; */
    
    }
    .microphone-image{
        margin-left: 28px;
        max-width: 250px;
        height: 250px;
        margin-top: 30px;
        
    }
    .microphone-image img{
        height: 250px;
        padding: 50px;
        
       
    }
    .banner-text-1{
       
        width: 200px;
        font-size: 38px;
        margin-left: 70px;
        /* margin: 0 auto; */
    }
    .banner-text{
        max-width: 265px;
        font-size: 13px;
        margin-left: 12px;
    }
    .banner-button{
        /* width: 300px; */
        margin-left: 14px;
        gap: 10px;
        width: 300px;
        height: 20px;
    }
    .banner-b-1{
        width: 141px;
    }
    .banner-button p{
        font-size: 14px;
    }
    .banner-button img{
        margin-left: 15px;
    }
    .banner-b-1 img{
        margin-left: 6px;
    }
    .banner-b-2{
        width: 120px;
    }
    .banner-b-1 p{
        max-width: 70px;
        margin-top: 5px;
        /* height: 20px; */
    }
    .new-button{
        margin-left: 194px
    }
    .about-text{
        width: 300px;
        height: 200px;
        padding-top: 20px;
        /* text-align: center; */
    }
   .about-text h1{
    margin-left: 5px;
   }
    .rating-container{
        flex-wrap: wrap;
        gap: 40px;
        height: 208px;
        margin-top: 30px;
    }
    .rating-container div h1{
        font-size: 30px;
    }
    .rating-container p{
        font-size: 13px;
    }
    .about-text h1{

        font-size: 28px;
        margin-left: 50px;
    }
    .about-text p{
        max-width: 280px;
        line-height: 18px;
        height: 152px;
        font-size: 12px;
        margin-left: 16px;
    }
    .card-header{
        font-size: 29px;
        text-align: center;
        padding-top: 20px;
    }
    .section-card{
        height: 1450px;
    }
    .cards{
        width: 300px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 16px;
       
    }
    .cards p{
        font-size: 14px;
    }
    .card-one{
        height: 287px;
        width: 300px;
        padding-top: 22px;
        padding-left: 22px;
    }
    .card-common{
        height: 215px;
        width: 300px;
         padding-top: 22px;
        padding-left: 22px;
    }
    .card-four{
        height: 311px;
        width: 300px;
         padding-top: 22px;
        padding-left: 22px;
    }
    .card-four p{
        margin-top: 0px;
    }
    .card-one p{
        margin-top: 5px;
    }
    .host-section{
        height: 1936px;
    }
    .featured-header{
        padding-top: 20px;
         margin-bottom: 10px;
    }
    .featured-header h1{
        font-size: 26px;
       
    }
    .div-card{
        flex-direction: column;
        gap: 15px;
        
    }
    .div-card-content h3{
        font-size: 16px;
    }
    .div-card-content p{
        font-size: 13px;
    }
    .div-card-content img{
        height: 15px;
        width: 15px;
    }
    .host{
        margin-top: 780px;
    }
    .host-box{
        flex-direction: column;
        height: 483px;
        padding-top: 10px;
    }
    .host-header{
        margin-bottom: 20px;
    }
    .host-header h1{
        font-size: 27px;
    }
    .host-image img{
        height: 150px;
        max-width: 150px;
        margin-left: 60px;
    
    }
    .host-text-div{
        margin-top: 5px;
    }
    .host-text h3{
        margin-left: 70px;
        font-size: 23px;
        margin-bottom: 9px;
    }
    .host-text p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    footer{
        
        background-image: none;
        background-image: url("../assets/Image.png");
        background-size: cover;
        /* background-repeat: no-repeat; */
        /* height: 248px; */
        padding-top: 40px;
    }
    .footer-logo{
        margin-left: 10px;
        width: 219px;
        height: 35px;
        margin: 40px auto;
    }
    .social{
        flex-wrap: wrap;
        
    }
    .copyright{
        font-size: 13px;
    }
}



@media screen and (min-width: 576px) and (max-width: 1920px) {
    .menu-image{
        display: none;
    }
}





@import "tailwindcss"




