
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav section */
.button-container {
    background: linear-gradient(to right , #F7E93F 0% , #FB09B4 51% , #9100F8 100%);
    margin-top: 24px;
    

}
.nav-button button:hover{
    cursor: pointer;
    
}
/* banner section */
.banner-section{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.116);
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
}
.banner-container{
     margin: 0 auto;
    /* border: 1px solid; */
    /* width: 550px; */
    height: 558px;
    margin-top: 101px;
   
}
.microphone-image{
    height: 400px;
    width: 400px;
    background-image: url('../assets/hero-circle.png');
    background-size: cover;
}
.banner-button{
    width: 356px;
    height: 44px;
}
.banner-b-1{
     background: linear-gradient(to right , #F7E93F 0% , #FB09B4 51% , #9100F8 100%);
     border-radius: 10000px;
}
.banner-b-2{
    border: 2px solid #00FF88;
    border-radius: 10000px;
}
/* about section */

.about-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
}
.rating-container h1{
  font-weight: bolder;
  font-size: 48px;
  color: #00FF88;
}
.rating-container p{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff73;
    margin-top: 16px;
}




@media screen and (max-width: 576px) {
   
    
    .nav-button , .nav-menu{
        display: none;
    }
    .nav-logo{
        margin-left: 0;
    }
    .banner-section{
    background-position: 100%;    
    width: 100%;
    /* max-width: px; */
    
    }
    .microphone-image{
        margin-left: 50px;
        width: 250px;
        height: 250px;
        margin-top: 30px;
        
    }
    .microphone-image img{
        height: 250px;
        padding: 50px;
        
       
    }
    .banner-text-1{
       
        width: 200px;
        font-size: 38px;
        margin-left: 70px;
        /* margin: 0 auto; */
    }
    .banner-text{
        width: 300px;
        font-size: 13px;
        margin-left: 30px;
    }
    .banner-button{
        /* width: 300px; */
        margin-left: 20px;
        gap: 10px;
        width: 300px;
        height: 20px;
    }
    .banner-button p{
        font-size: 14px;
    }
    .banner-button img{
        margin-left: 15px;
    }
    .new-button{
        margin-left: 220px
    }
    .about-text{
        width: 300px;
        height: 200px;
        padding-top: 20px;
        text-align: center;
    }
    .rating-container{
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
    }
    .about-text h1{

        font-size: 28px;
        margin-left: 50px;
    }
    .about-text p{
        line-height: 20px;
        height: 152px;
        font-size: 13px;
        margin-left: 50px;
    }
    .card-header{
        font-size: 35px;
        text-align: center;
        padding-top: 30px;
    }
    .section-card{
        height: 1450px;
    }
    .cards{
        width: 400px;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        margin-top: 16px;
       
    }
    .card-one{
        height: 287px;
        width: 400px;
        padding-top: 22px;
        padding-left: 22px;
    }
    .card-common{
        height: 215px;
        width: 400px;
         padding-top: 22px;
        padding-left: 22px;
    }
    .card-four{
        height: 311px;
        width: 400px;
         padding-top: 22px;
        padding-left: 22px;
    }
    
}



@media screen and (min-width: 576px) and (max-width: 1920px) {
    .menu-image{
        display: none;
    }
}





@import "tailwindcss"




